html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6,
.mainTemp,
.next-days,
p {
  font-family: "Open Sans", sans-serif;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

a {
  color: aqua;
}

h1,
h2,
.mainTemp {
  font-weight: 900;
  font-size: 48px;
  text-align: left;
  padding-left: 20px;
  font-family: "Dosis", sans-serif;
}

h3,
h5,
h6,
p {
  color: black;
}

h1 {
  margin-top: 30px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 16px;
  font-weight: 400;
}

p {
  font-size: 14px;
  font-weight: 400;
}
a {
  font-size: 14px;
  font-weight: 900;
}

.mainTemp {
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.mainPanel {
  background: linear-gradient(#58c8d6, #f7fc7d);
  width: 70%;
  max-width: 500px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  background-image: url("bg.svg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}

.mainIcon {
  color: white;
  font-size: 100px;
  text-align: right;
  margin: 50px auto;
  display: block;
  padding-right: 30px;
  padding-bottom: 30px;
}

.searchIcon {
  color: white;
  font-size: 24px;
}
.searchBtn,
.searchInput {
  border: 1px solid white;
}

.nextDays {
  position: relative;
  bottom: 30px;
  margin-top: 30px;
}

.linkCityL,
.linkCityC,
.linkCityR {
  margin-top: 30px;
  text-align: center;
  color: white;
  font-family: "Open Sans", sans-serif;
}
.linkCityL {
  text-align: left;
}
.linkCityR {
  text-align: right;
}
.linkCityL:hover,
.linkCityC:hover,
.linkCityR:hover {
  text-decoration: underline;
  cursor: pointer;
}

.emptyRow {
  height: 70px;
}

.tempUnit {
  font-weight: 500;
  color: black;
}

.currTempUnit {
  color: black;
  font-weight: 900;
}
.tempUnit:hover {
  text-decoration: underline;
  cursor: pointer;
}

.units {
  vertical-align: middle;
}
/*img {
  display: block;
  margin: 0 auto;
}*/
.main-day,
.next-days {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.main-day {
  text-align: left;
  padding-left: 30px;
  font-weight: 400;
}
